# Project
**/i18n/messages/
toolkit/vocs/pages/
output/
dist/
gen/
WIP.md

# Node
node_modules/

# RNUC
rnuc.xcconfig

# Vocs
vocs.config.ts.timestamp-*

# Expo
.expo/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# MacOS
.DS_Store
*.pem

# Local env files
.env*.local

# Typescript
*.tsbuildinfo