# Generated
build/config/locales.ts
**/redux.types.ts
**/messages/*.json
.icons/
output/
dist/
gen/

# Notes
WIP.md
TODO.md

# MacOS
.DS_Store
*.pem

# Env
.env*.local

# Typescript
*.tsbuildinfo

# Node
node_modules/
npm-debug.log

# Testing
/coverage
