# Project
**/i18n/messages/
example/
dev-dist/
output/
dist/
gen/
WIP.md
TODO.md
.sonda/

# MacOS
.DS_Store
*.pem

# Env
.env*.local

# Typescript
*.tsbuildinfo

# Vocs
vocs.config.ts.timestamp-*

# Node
node_modules/
npm-debug.log

# Testing
/coverage
