.exo-switch-root {
  all: unset;
  width: 42px;
  height: 25px;
  border-radius: 9999px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #333;
  border-radius: 99999px;
  will-change: background-color;
  transition: background-color 200ms ease-out;
}

.exo-switch-root[data-state='checked'] {
  background-color: #666;
}

.exo-switch-thumb {
  display: block;
  width: 21px;
  height: 21px;
  border-radius: 99999px;
  background-color: #fff;
  will-change: transform;
  transition: transform 200ms ease-out;
  transform: translateX(2px);
}

.exo-switch-thumb[data-state='checked'] {
  transform: translateX(19px);
}
