.exo-slider[data-disabled] > span:last-child {
  will-change: left;
  transition: left 0.5s ease;
}

.exo-slider[data-disabled] .exo-slider-range {
  will-change: right;
  transition: right 0.5s ease;
}

.exo-slider-thumb:hover {
  scale: 1.1;
}

.exo-slider-thumb:active {
  scale: 1.4;
}
