.checkbox-root {
  all: unset;
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-root:hover {
  background-color: #333;
}

.checkbox-root:focus {
  box-shadow: 0 0 0 2px #000;
}

.checkbox-indicator {
  color: #333;
}

.checkbox-label {
  color: #333;
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
}
